.ivy-overlay-info {
    background-color: rgba(47, 146, 222, 0.9);
}

.ivy-overlay-success {
    background-color: rgba(45, 184, 47, 0.9);
}

.ivy-overlay-warning {
    background-color: rgba(240, 164, 67, 0.9);
}

.ivy-overlay-danger {
    background-color: rgba(217, 33, 30, 0.9);
}

.ivy-overlay {
    color: White;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    padding: 5px;
    min-height: 16px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.djs-overlay-text {
    width: 150px;
    height: 45px;
}

.djs-overlay-number {
    width: 30px;
    height: 25px;
}

.ivy-overlay-number {
    background-color: #0000ff;
    color: White;
    border-radius: 17px;
    font-family: Arial;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}
